@model S09_Labo.ViewModels.ChanteursChansonsViewModel


<a asp-action="Index" asp-controller="Musique">Retour à l'index</a>

<div class="row">
    <div class="col-6">
        <h2>Chanteurs</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Chanteurs.First().Nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Chanteurs.First().DateNaissance)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Chanteurs)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateNaissance)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h2>Chansons</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Chansons.First().Nom)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Chansons)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


