@model List<S09_Labo.Models.VwChanteurNbChanson>

    <a asp-action="Index" asp-controller="Musique">Retour à l'index</a>

    <h2>Chanteurs</h2>
    .
    <table class="table">
        <thead>
            <tr>
                <th>
                @Html.DisplayNameFor(model => model.First().Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DateDeNaissance)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.First().NombreDeChansons)
                </th>
                <!-- À partir de la migation 1.5 -->
                <!--<th>
                    Ajouter aux favoris
                </th>-->
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                            <td>
                            @Html.DisplayFor(modelItem => item.DateDeNaissance)
                            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreDeChansons)
                        </td>
                        <!-- À partir de la migation 1.5 -->
                        <!--<td>
                            <form asp-action="AjouterFavori">
                                <input hidden type="number" name="chanteurId" value="█(item.Chanteur.ChanteurId)">
                                <button type="submit">+⭐</button>
                            </form>
                        </td>-->
                    </tr>
        }
        </tbody>
    </table>