@model S09_Labo.ViewModels.ChanteurEtSesChansonsViewModel

    <a asp-action="Index" asp-controller="Musique">Retour à l'index</a>

    <h2>Chanteur</h2>

    <p>Nom : @Model.Chanteur.Nom</p>
    <p>Date de naissance : @Model.Chanteur.DateNaissance</p>

    <h2>Chansons de @Model.Chanteur.Nom</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Chansons.First().Nom)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Chansons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                </tr>
            }
        </tbody>
    </table>
